<div class="container">
  <hr>
  <footer class="docs-footer">
    <ul class="nav nav-pills">
      <li class="pull-left">
        <a href="https://avicus.net">
          ©
          2017
          Avicus Network LLC
        </a>
      </li>
      <li class="pull-right">
        <a href="https://github.com/Avicus/atlas.avicus.net"><i class="fa fa-github"></i>
          Contribute
        </a>
      </li>
      <li class="pull-right">
        <a href="https://maps.avicus.net">Maps
        </a>
      </li>
    </ul>
    <br>
  </footer>
</div>
